@import url('https://fonts.googleapis.com/css?family=Dynalight');
body {
  width: 960px;
  margin: auto;
  font-family: sans-serif;
}

h1 {
  color: limegreen;
}

.userTitle {
  color: blue;
  font-family: 'Dynalight', cursive;
  font-size: 3rem;
  color: rgb(13, 87, 198);
}


textarea.form-control {
  height: 300px;
}
