@import url('https://fonts.googleapis.com/css?family=Dynalight');
body {
  /*margin: auto;*/
  font-family: sans-serif;
  background-color: #3A3A3A;
}

h1 {
  /*color: limegreen;*/
}

.workarea {
  width: 90%;
  margin-left: 5%;
  background-color: #fff;
  padding: 5%;
  border-radius: 5px;
  -webkit-box-shadow: 7px -4px 31px -4px rgba(0,0,0,0.52);
  -moz-box-shadow: 7px -4px 31px -4px rgba(0,0,0,0.52);
  box-shadow: 7px -4px 31px -4px rgba(0,0,0,0.52);
}
.micro-piece {
  margin-bottom: 35px;
  padding-bottom: 35px;
  border-bottom: 3px inset rgba(58, 58, 58, .7);
}
.micro-piece3 {
  border-bottom: none;
}
.modules {
  margin-bottom: 35px;
}

.userTitle {
  color: blue;
  font-family: 'Dynalight', cursive;
  font-size: 3rem;
  color: rgb(13, 87, 198);
}
.white {

}
/*sadness*/
.blue {
  background-color: rgba(8, 109, 178, .5);
  border-radius: 4px;
}
/*joy*/
.pink {
  background-color: rgba(255, 241, 115, .5);
  border-radius: 4px;
}
/*fear green*/
.green {
  background-color: rgba(66, 204, 11, .3);
  border-radius: 4px;
}
/*angry*/
.red {
  background-color: rgba(191, 2, 62, .7);
  border-radius: 4px;
}
/* disgust purple*/
.yellow {
  background-color: rgba(89, 38, 132, .5);
  border-radius: 4px;
}

textarea.form-control {
  height: 300px;
}

.sentences {

}
.tones {

}
