@import url('https://fonts.googleapis.com/css?family=Dynalight');
@import url('https://fonts.googleapis.com/css?family=Playfair+Display:700|Roboto');

body {
  /*margin: auto;*/
  font-family: sans-serif;
  background-color: #3A3A3A;
  font-family: 'Roboto', sans-serif;
}

h1 {
  /*color: limegreen;*/
}
.test {
  background-color: #fff;
  padding: 5%;
  border-radius: 4px;
  width: 70%;
  margin-left: 15%;
  margin-top: 25px;
}

.workarea {
  width: 90%;
  margin-left: 5%;
  /*background-color: #fff;*/
  /*padding: 5%;
  border-radius: 5px;
  -webkit-box-shadow: 7px -4px 31px -4px rgba(0,0,0,0.52);
  -moz-box-shadow: 7px -4px 31px -4px rgba(0,0,0,0.52);
  box-shadow: 7px -4px 31px -4px rgba(0,0,0,0.52);*/
}

.workarea h2 {
  font-family: 'Playfair Display', serif;
  font-size: 3.5rem;
  margin-bottom: 20px;
  padding-bottom: 2px;
  border-bottom: 1px solid #3A3A3A;
}

.workarea small, .workarea h1{
  color: #fff;
}
.micro-piece {
  margin-bottom: 35px;
  padding-bottom: 35px;
  border-bottom: 3px inset rgba(58, 58, 58, .7);
  background-color: #fff;
  padding: 3%;
  border-radius: 10px;
}

/*.micro-piece3 {
  border-bottom: none;
}*/
/*.modules {
  margin-bottom: 35px;
}*/
/*.heros-tip {
  background: #3A3A3A;
  color: #fff;
  padding: 3%;
  border-radius: 6px;
  border: 3px #888 solid;
  margin-top: 10px;
}
.original-piece {
  -webkit-box-shadow: -1px 10px 53px -8px rgba(112,112,112,0.37);
  -moz-box-shadow: -1px 10px 53px -8px rgba(112,112,112,0.37);
  box-shadow: -1px 10px 53px -8px rgba(112,112,112,0.37);
  border-radius: 8px;
  padding-bottom: 5%;
  margin-bottom: 15px;
}*/
/*.original-piece h3 {
  background-color: #3A3A3A;
  color: #fff;
  padding: 1%;
  border-radius: 4px;
}*/

.userTitle {
  color: blue;
  font-family: 'Dynalight', cursive;
  font-size: 3rem;
  color: rgb(13, 87, 198);
}
.white {
  cursor:pointer;
  position: relative;
}
/*sadness*/
.blue {
  background-color: rgba(8, 109, 178, .5);
  border-radius: 4px;
  padding: .5%;
  cursor:pointer;
  position: relative;
}
/*joy*/
.pink {
  background-color: rgba(255, 241, 115, .5);
  border-radius: 4px;
  padding: .5%;
  cursor:pointer;
  position: relative;
}
/*fear green*/
.green {
  background-color: rgba(66, 204, 11, .3);
  border-radius: 4px;
  padding: .5%;
  cursor:pointer;
  position: relative;
}
/*angry*/
.red {
  background-color: rgba(191, 2, 62, .7);
  border-radius: 4px;
  padding: .5%;
  cursor:pointer;
  position: relative;

}
/* disgust purple*/
.yellow {
  background-color: rgba(89, 38, 132, .5);
  border-radius: 4px;
  padding: .5%;
  cursor:pointer;
  position: relative;
}

 .tone-group {
  background-color: #3A3A3A;
  color: #fff;
  width: 80%;
  padding: .5%;
  margin-top: 4px;
  margin-bottom: 15px;
  border-radius: 8px;
  border: 2px #888 solid;
  display: flex;
  flex-flow: row;
  justify-content: space-around;
}
.tones {
  font-size: 1.6rem;
}
/*.tone-group::before {
  content:"";
   border-color:  transparent transparent #3A3A3A transparent ;
   border-style:solid;
   border-width:20px;
   width:0;
   height:0;
   position:absolute;
   top: 10%;
   margin-left: 10%;
   bottom:40px;
   left:20px
}*/

textarea.form-control {
  height: 300px;
}
.analyze-button {
  background-color: #3A3A3A;
  border-radius: 8px;
   color: #fff;
   padding: .6%;
   -webkit-box-shadow: -1px 10px 53px -8px rgba(112,112,112,0.17);
   -moz-box-shadow: -1px 10px 53px -8px rgba(112,112,112,0.17);
   box-shadow: -1px 10px 53px -8px rgba(112,112,112,0.17);
}

.instructions {
  color: #fff;
  font-size: 2rem;
  margin-bottom: 15px;
}
.original-piece {
  display: flex;
  flex-flow: row;
  justify-content: space-around;
  align-items: flex-start;
}

.originalWriting {
  -webkit-box-shadow: -1px 10px 53px -8px rgba(112,112,112,0.37);
  -moz-box-shadow: -1px 10px 53px -8px rgba(112,112,112,0.37);
  box-shadow: -1px 10px 53px -8px rgba(112,112,112,0.37);
  border-radius: 8px;
  padding: 3%;
  padding-top: 1%;
  width: 65%;
  margin: 1%;
}

.heros-tip {
  background: #3A3A3A;
  color: #fff;
  border-radius: 6px;
  border: 3px #888 solid;
  padding: 1%;
  width: 32%;
  margin-top: 25px;
  margin: .5%;
}
.heros-tip h3 {
  border-bottom: 1px solid #fff;
  margin-bottom: 25px;
}

 @media all and (max-width: 1100px) {
   .original-piece {
     flex-flow: column;
   }
   .originalWriting {
     width: 100%;
   }
   .heros-tip {
     width: 100%;
   }
 }
